/* CSS HEX */
--green: #23ff01ff;
--pakistan-green: #053b06ff;
--pale-dogwood: #d5bbb1ff;
--wenge: #5f5566ff;
--wenge-2: #604d53ff;

/* CSS HSL */
--green: hsla(112, 100%, 50%, 1);
--pakistan-green: hsla(121, 84%, 13%, 1);
--pale-dogwood: hsla(17, 30%, 76%, 1);
--wenge: hsla(275, 9%, 37%, 1);
--wenge-2: hsla(341, 11%, 34%, 1);

/* SCSS HEX */
$green: #23ff01ff;
$pakistan-green: #053b06ff;
$pale-dogwood: #d5bbb1ff;
$wenge: #5f5566ff;
$wenge-2: #604d53ff;

/* SCSS HSL */
$green: hsla(112, 100%, 50%, 1);
$pakistan-green: hsla(121, 84%, 13%, 1);
$pale-dogwood: hsla(17, 30%, 76%, 1);
$wenge: hsla(275, 9%, 37%, 1);
$wenge-2: hsla(341, 11%, 34%, 1);

/* SCSS RGB */
$green: rgba(35, 255, 1, 1);
$pakistan-green: rgba(5, 59, 6, 1);
$pale-dogwood: rgba(213, 187, 177, 1);
$wenge: rgba(95, 85, 102, 1);
$wenge-2: rgba(96, 77, 83, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #23ff01ff, #053b06ff, #d5bbb1ff, #5f5566ff, #604d53ff);
$gradient-right: linear-gradient(90deg, #23ff01ff, #053b06ff, #d5bbb1ff, #5f5566ff, #604d53ff);
$gradient-bottom: linear-gradient(180deg, #23ff01ff, #053b06ff, #d5bbb1ff, #5f5566ff, #604d53ff);
$gradient-left: linear-gradient(270deg, #23ff01ff, #053b06ff, #d5bbb1ff, #5f5566ff, #604d53ff);
$gradient-top-right: linear-gradient(45deg, #23ff01ff, #053b06ff, #d5bbb1ff, #5f5566ff, #604d53ff);
$gradient-bottom-right: linear-gradient(135deg, #23ff01ff, #053b06ff, #d5bbb1ff, #5f5566ff, #604d53ff);
$gradient-top-left: linear-gradient(225deg, #23ff01ff, #053b06ff, #d5bbb1ff, #5f5566ff, #604d53ff);
$gradient-bottom-left: linear-gradient(315deg, #23ff01ff, #053b06ff, #d5bbb1ff, #5f5566ff, #604d53ff);
$gradient-radial: radial-gradient(#23ff01ff, #053b06ff, #d5bbb1ff, #5f5566ff, #604d53ff);
